# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
*.bak
*.swp
*.swo

# --- IDE ---
.idea/
.vscode/
*.iml

# --- Configs (Secrets & Environment) ---
.env
config/
certbot/
**/settings.py

# --- Project specific (Logs & Data) ---
**/archive/
*.log
src/db/data/
src/db/jobpersistence/
src/utilities/pickle/json_files/
src/utilities/pickle/ud_ids/
src/utilities/pickle/user_ids
src/db/migrations/versions_*/
**/data/conversationbot*
**/json_files/
**/sql_files/

# --- Testing ---
.pytest_cache/
.coverage
htmlcov/
test/.pytest_cache/

# --- OS specific ---
.DS_Store
Thumbs.db

# --- Legacy & Specific ---
docker-compose-*
/.junie/
