[Unit]
Description=Telegram BabyDomik Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/BabyDomikBot
ExecStart=/home/BabyDomikBot/venv/bin/python -m bot
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
