alembic
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
psycopg
psycopg-binary
pydantic
pydantic-settings
pytest
python-telegram-bot[ext]~=20.7
PyYAML
requests
SQLAlchemy
typing_extensions