alembic
black
cachetools
psycopg
psycopg-binary
pydantic
pydantic_core
pydantic-settings
pytest
gspread
gspread-asyncio
python-telegram-bot[ext]
pytz
PyYAML
requests
sqlalchemy
typing_extensions
yookassa
uvicorn
fastapi
faststream[cli]
nats-py
