alembic
black
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
psycopg
psycopg-binary
pydantic
pydantic_core
pydantic-settings
pytest
python-telegram-bot[ext]
pytz
PyYAML
requests
sqlalchemy
typing_extensions
yookassa~=3.0.1
uvicorn
fastapi
faststream
nats-py
