name: push_images

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}:latest
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile-fastapi
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/baby_domik_fastapi:latest
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile-migration
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/baby_domik_migration:latest
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile-gspread
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/baby_domik_gspread_worker:latest
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile-sales
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/baby_domik_sales_worker:latest